:root {
    --dark-purple-color: #201925;
    --grey-color: #B2A8B8;
    --white-color: #FFFFFF; 
    --transparent-black-color: rgba(32, 25, 37, 0.5);
    
   
  
    --big-border-radius: 8px;
    --small-border-radius: 4px;    
    --main-border-width: 3px;    
    --my-max-height: 67vh;
    --middle-max-height: 60vh;
    --small-max-height: 55vh;    
    --scroll-padding-width-thin: 17px;
  
    height: 100%
  }
  .light-mode {
    --purple-color: #6622AA;
    --purple50: rgb(247, 242, 253);
    --purple200: rgb(234, 220, 248);
    --purple200a: rgba(234, 220, 248, 0.7);
  }
  
  .dark-mode {
    --purple-color: #9750DD;
    --purple50: rgb(31, 10, 51);
    --purple200: rgb(46, 15, 77);
    --purple200a: rgba(46, 15, 77, 0.5);

  }
  @media (min-width: 960px) {
    :root {
        font-size: 17px;
        
    }
  }
  @media (max-width: 960px) {
    :root {
        font-size: 15px;
    }
  }
  img {
    display: block;
  }
  .body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    align-items: center;  
    display: flex;
    font-family: 'Bayon', sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
    width: 100%;
  }
  .wrapper {
    align-items: flex-start; 
    max-height: 100%;  
  }
  @media (min-width: 960px) {
    .wrapper { 
        display: inline-grid;
        column-gap: 26px;
        grid-template-areas: 
            "header style"
            "transformed style"   
            "final style";     
        grid-template-columns: 71% 28%;
        grid-template-rows: minmax(8%,10%) minmax(40%, 68%) minmax(8%,10%);
        max-width: 76%;
        min-width: 76%;    
        height: 100%; 
    }
  }
  
  @media (max-width: 960px) {
    .wrapper {        
        justify-items: center;
        max-width: 100%;
        width: 100%; 
        height: 100%;
        max-height: 100%;
    }
  }
  @media (min-width: 650px) and (max-width: 960px) {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 58% auto 22%;
      grid-template-areas: 
          "header"         
          "transformed"
          "final" 
          "style";
    }
  }
  @media (min-width: 650px) {
    .body {
      padding-bottom: 10px;
      padding-top: 10px;
    }
    .wrapper {
        row-gap: 10px;  
    }
  }
  @media (max-width: 650px) {
    .wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
        padding-top: 0;
        row-gap: 5px;
    }
    .header {
      flex: 0 1;
    }
    .transformed-images {
      flex: 6 0;
    }
    .final-settings {
      flex: 1 2;
    }
    .image-style {
      flex: 2 0;
    }
  }
  
  /*Theme*/
  .light-theme .body {
    background-color: var(--white-color);
  }
  .dark-theme .body  {
    background-color: var(--dark-purple-color);
  }
  .light-theme .transformed-images::before, .light-theme .image-style-wrap::before {
    border-color: var(--white-color);
  }
  .light-theme .transformed-images::after, .light-theme .image-style-wrap::after {
    border-color: var(--grey-color);
  }
  
  .wrapper > * {
    position: relative;
  }